*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

a{
    display: flex;
    align-items: center;
    font-size: 0.78em;/*14px*/
    color: #ffffff;/*White*/
}

body{
    background-color: #181719;
    color: #ffffff; /*White*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 95%;
    margin: 19px 3.2%;
}


footer{
    color: #bdbdbd;
    margin-top: 10%;
    text-align: center;
    font-size: 0.78em;/*14px*/
    font-weight: 400;
}

footer a {
    color: #4d4d4d;
    display: inline;
    font-size: 1em;/*14px*/
    font-weight: 700;
}

header{
    display: flex;
    justify-content: space-between;
}

h1{
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 2em;
}

h2{
    font-family: 'Crimson Pro', serif;
    font-size: 0.78em;/*14px*/
    font-weight: 200;
    text-transform: uppercase;
}


p{
    font-size: 0.78em;/*14px*/
    font-weight: 400;
    margin: 7.01% 0;
    width: 60%;
}

.main-content{
    margin: 10.66% 0;
}

.main-content img{
    margin: 0 15px;
}

.main-example img{
    width: 100%;
}

.main-example-author{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "image name empty"
                            "image profession empty"
                            "message message message";
    position: relative;
    top: -50px;
    background-color: #181719;
}

.main-example-author h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.67em;/*12px*/
    grid-area: name;
    width: max-content;
}

.main-example-author h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.56em;/*10px*/
    font-weight: 500;
    grid-area: profession;
    width: max-content;
    text-transform: none;
    color: #828282;/*Gray 3*/
}

.main-example-author img{
    grid-area: image;
}

.main-example-author p{
    font-family: 'Lora', serif;
    font-size: 1em;/*18px*/
    font-weight: 700;
    grid-area: message;
}



nav{
    display: none;
}