*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
}

a{
    display: flex;
    align-items: center;
    font-size: 0.78em;/*14px*/
    color: #ffffff;/*White*/
}

body{
    background-color: #181719;
    color: #ffffff; /*White*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    width: 95%;
    margin: 19px 3.2%;
}


footer{
    color: #bdbdbd;
    margin-top: 10%;
    text-align: center;
    font-size: 0.78em;/*14px*/
    font-weight: 400;
}

footer a {
    color: #4d4d4d;
    display: inline;
    font-size: 1em;/*14px*/
    font-weight: 700;
}

header{
    display: flex;
    justify-content: space-between;
}

h1{
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 2em;
}

h2{
    font-family: 'Crimson Pro', serif;
    font-size: 0.78em;/*14px*/
    font-weight: 200;
    text-transform: uppercase;
    border: solid #ffffff 1px;
    padding: 2%;
}

hgroup{
    grid-area: name;
    width: max-content;
}

hgroup h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.67em;/*12px*/
}

hgroup h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.56em;/*10px*/
    font-weight: 500;
    text-transform: none;
    color: #828282;/*Gray 3*/
    padding: 0;
    border: none;
}

p{
    font-size: 0.78em;/*14px*/
    font-weight: 400;
    margin: 7.01% 0;
    width: 60%;
}

.main-content{
    margin: 10.66% 0;
}

.main-content img{
    margin: 0 15px;
}

.main-example img{
    width: 100%;
}

.main-example-author{
    width: 85%;
    max-width: 410px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas: "image name empty"
                            "message message message";
    position: relative;
    top: -50px;
    background-color: #181719;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
}

.main-example-author img{
    grid-area: image;
    width: 36.59px;
    justify-self: center;
    border-radius: 50%;
}

.main-example-author p{
    font-family: 'Lora', serif;
    font-size: 1em;/*18px*/
    font-weight: 700;
    grid-area: message;
    margin: 6%;
}

/*----- Nav----------------------*/

input#menu-checkbox{
	display:none;
	}

input#menu-checkbox:checked ~ nav#nav-buttons{
    right:-10px;
    }

input#menu-checkbox:checked + label#mobile-button span{
    background:url(../images/close_white_24dp.svg) no-repeat;
    background-size: contain;
    }

label#mobile-button span{
	cursor:pointer;
    width: 38px;
    height: 38px;
    background: url(../images/menu_white_24dp.svg) no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    z-index: 2;
}

li a{
    text-align: center;
    display: block;
    padding: 5%;
}

nav#nav-buttons{
	position:absolute;
	width:100vw;
	height:100vh;
	background:#181719;
	right:-120%;
	transition:right .5s;
    z-index: 1;
	}

ul{
    margin-top: 30vh;
}

.active{
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 10px;
}

/*---------------Media Queries--------------*/
@media (min-width: 576px) {

    a{
        font-size: 1em; /*18px*/
    }

    h1{
        font-size: 2.67em;/*48px*/
    }

    p{
        font-size: 1.34em;/*24px*/
    }

    hgroup h1{
        font-size: 0.78em;/*14px*/
    }

    hgroup h2{
        font-size: 0.67em;/*12px*/
    }

    .main-example-author p{
        font-size: 1.34em;/*14px*/
    }

    .main-example-author img{
        width: 50px;
    }
}

@media (min-width: 768px) {


    header{
        align-items: center;
    }
    nav#nav-buttons{
        position:static;
        width:50vw;
        height: max-content;
        background:#181719;
        transition: none;
    }

    ul{
        margin-top: 0;
    }

    li{
        float: left;
        width: 25%;
        text-align: center;
    }
    li a{
        display: inline;
    }


    label#mobile-button span{
        display: none;
    }
}

@media (min-width: 992px) {

    main{
        display: flex;
    }
}

@media (min-width:1515px){
    body{
        width: 1440px;
        margin: 19px auto;
    }
}